.wrapper {
  background-color: #375891;
  height: 200vh;
  color: #fff;
}
.wrapper h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
  letter-spacing: 3px;
}
.wrapper .button {
  width: 100%;
}

.wrapper .button a {
  text-decoration: none;
}
.wrapper .button button {
  padding: 10px 25px;
  border-radius: 10px;
  margin: 50px auto;
  display: block;
  background-color: aquamarine;
  font-size: 20px;
}
.wrapper .button button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
